




<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= @cocktail.name %></h2>

<% if @doses %>
  <% @doses.each do |dose| %>
    <p> Contains <%= dose.description %> of <%= dose.ingredient.name %></p>
<%= link_to 'Delete a dose', dose_path(dose), method: 'delete', class: "btn btn-flat" %>
  <% end %>
<% end %>
  </div>
</div>

<%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class: "btn btn-gradient" %>


<%= link_to 'Back to cocktails', cocktails_path, class: "btn btn-flat" %>



